

body{ background-color: rgb(163, 148, 31); }
.option{ display:flex; }
.option>.ice{
    flex:none;
    width:400px;height:300px; 
    border-width:3px;border-style:solid;
    border-color:green;padding:5px;
    margin:10px;
}
.option>.burger{
    flex:none;
    width:400px;height:300px; 
    border-width:3px;border-style:solid;
    border-color:green;padding:5px;
    margin:10px;
}
img{ width:350px; }
.btns{
    display:none;
}
  